/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Root properties */
:root {
  /* Dimensions */
  --header-height: 3rem;

  /* Typography */
  --font-family: 'Poppins', sans-serif;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-size-large: 2rem;
  --font-size-medium: 0.938rem;
  --font-size-small: 0.813rem;
  --font-size-tiny: 0.75rem;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1.125rem;

  /* Colors */
  --color-tint: hsl(220, 69%, 61%);
  --color-tint-alt: hsl(220, 57%, 53%);
  --color-tint-lighten: hsl(220, 92%, 85%);
  --color-title: hsl(220, 8%, 15%);
  --color-text: hsl(220, 8%, 45%);
  --color-text-lighten: hsl(220, 8%, 65%);
  --color-hover: hsl(220, 57%, 53%);
  --color-input: hsl(220, 70%, 96%);
  --color-body: hsl(220, 60%, 99%);
  --color-scroll: hsl(220, 12%, 90%);
  --color-thumb: hsl(220, 12%, 80%);

  /* Layering */
  --layer-tooltip: 1;
  --layer-fixed: 2;
  --layer-modal: 3;
}

@media screen and (min-width: 968px) {
  :root {
    /* Typography (larger screens) */
    --font-size-large: 3rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.875rem;
    --font-size-tiny: 0.813rem;
    --font-size-h1: 2.25rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
  }
}

/* Dark theme styles */
body.dark-theme {
  --color-tint-alt: hsl(220, 30%, 8%);
  --color-title: hsl(220, 8%, 95%);
  --color-text: hsl(220, 8%, 75%);
  --color-input: hsl(220, 29%, 16%);
  --color-body: hsl(220, 28%, 12%);
  --color-scroll: hsl(220, 12%, 48%);
  --color-thumb: hsl(220, 12%, 36%);
}

/* Base elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-bottom: var(--header-height);
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  background: var(--color-body);
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-semibold);
  color: var(--color-title);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  display: none;
}

textarea {
  resize: none;
}

/* Common CSS classes */
.section {
  padding: 2rem 0 4rem;
}

.section-title {
  font-size: var(--font-size-h1);
  text-align: center;
}

.section-subtitle {
  display: block;
  margin-bottom: 3rem;
  font-size: var(--font-size-small);
  text-align: center;
}

.container {
  max-width: 768px;
  margin: 0 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-medium);
  background: var(--color-tint);
  color: #fff;
}

.button:hover {
  background: var(--color-hover);
}

.button-icon {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  transition: 0.3s;
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

/* Header */
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--color-body);
  z-index: var(--layer-fixed);
}

.nav {
  display: flex;
  max-width: 968px;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-logo,
.nav-toggle {
  font-weight: var(--font-weight-medium);
  color: var(--color-title);
}

.nav-logo:hover,
.nav-toggle:hover {
  color: var(--color-tint);
}

.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-theme-changer {
  margin-right: 1rem;
  font-size: 1.25rem;
  color: var(--color-title);
  cursor: pointer;
}

.nav-theme-changer:hover {
  color: var(--color-tint);
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    padding: 2rem 1.5rem 4rem;
    border-radius: 1.5rem 1.5rem 0 0;
    background: var(--color-body);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  color: var(--color-title);
}

.nav-link:hover {
  color: var(--color-tint);
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-tint);
  cursor: pointer;
}

.nav-close:hover {
  color: var(--color-hover);
}

.show-menu {
  bottom: 0;
}

.active-link {
  color: var(--color-tint);
}

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 15%);
}

/* Home section */
.home-container {
  gap: 1rem;
}

.home-content {
  padding-top: 3.5rem;
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home-social-icon {
  font-size: 1.25rem;
  color: var(--color-tint);
}

.home-social-icon:hover {
  color: var(--color-hover);
}

.home-image {
  width: 200px;
  border-radius: 50%;
  background: var(--color-tint);
  overflow: hidden;
}

.home-image img {
  width: 200px;
  height: 200px;
  transform: translateY(20px);
}

.home-data {
  grid-column: 1/3;
}

.home-title {
  font-size: var(--font-size-large);
}

.home-subtitle {
  margin-bottom: 0.75rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h3);
  color: var(--color-text);
}

.home-description {
  margin-bottom: 2rem;
}

.home-scroll {
  display: none;
}

.home-scroll-button {
  color: var(--color-tint);
  transition: 0.3s;
}

.home-scroll-button:hover {
  transform: translateY(0.25rem);
}

.home-scroll-mouse {
  font-size: 2rem;
}

.home-scroll-name {
  margin-right: 0.25rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  white-space: nowrap;
  color: var(--color-title);
}

.home-scroll-arrow {
  font-size: 1.25rem;
}

/* About section */
.about-image {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about-description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.about-info {
  display: flex;
  margin-bottom: 2.5rem;
  justify-content: space-evenly;
}

.about-title {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-h2);
  color: var(--color-title);
}

.about-name {
  font-size: var(--font-size-tiny);
}

.about-title,
.about-name {
  display: block;
  text-align: center;
}

.about-button {
  display: flex;
  justify-content: center;
}

/* Career section */
.career-data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.career-data div:first-child {
  text-align: right;
}

.career-title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-normal);
}

.career-subtitle {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: var(--font-size-small);
}

.career-period {
  font-size: var(--font-size-smaller);
  color: var(--color-text-lighten);
}

.career-rounder {
  display: flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  background: var(--color-tint);
}

.career-line {
  display: flex;
  width: 1px;
  height: calc(100% - 24px);
  margin-top: 12px;
  background: var(--color-tint);
  transform: translate(12px, -14px);
}

.career-icon {
  font-size: 16px;
  color: #fff;
  border-radius: 50%;
  background: var(--color-tint);
}

/* Skills section */
.skills-container {
  row-gap: 0;
}

.skills-header {
  display: flex;
  margin-bottom: 2.5rem;
  align-items: center;
  cursor: pointer;
}

.skills-icon,
.skills-arrow {
  font-size: 2rem;
  color: var(--color-tint);
}

.skills-icon {
  margin-right: 0.75rem;
}

.skills-title {
  font-size: var(--font-size-h3);
}

.skills-subtitle {
  font-size: var(--font-size-small);
  color: var(--color-text-lighten);
}

.skills-arrow {
  margin-left: auto;
  transition: 0.3s;
}

.skills-listt {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills-name {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-medium);
}

.skills-bar,
.skills-percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills-bar {
  background: var(--color-tint-lighten);
}

.skills-percentage {
  display: block;
  background: var(--color-tint);
}

.skills-html,
.skills-javascript-typescript,
.skills-cantonese,
.skills-english {
  width: 100%;
}

.skills-css,
.skills-c-cplusplus,
.skills-python,
.skills-adobe-photoshop,
.skills-adobe-illustrator,
.skills-adobe-premiere-pro,
.skills-putonghua {
  width: 80%;
}

.skills-spanish {
  width: 60%;
}

.skills-close .skills-list {
  height: 0;
  overflow: hidden;
}

.skills-open .skills-list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills-open .skills-arrow {
  transform: rotate(180deg);
}

/* Projects section */
.projects-container {
  overflow: initial;
}

.projects-content {
  padding: 0 1.5rem;
}

.projects-image {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.projects-title {
  margin-bottom: 0.5rem;
  font-size: var(--font-size-h3);
}

.projects-description {
  margin-bottom: 0.75rem;
}

.projects-button:hover .button-icon {
  transform: translateX(0.25rem);
}

.projects-swiper-icon {
  font-size: 2rem;
  color: var(--color-tint);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-button-next {
  right: -0.5rem;
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-horizontal>.swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
  background: var(--color-tint);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
}

/* Contact section */
.contact-container {
  row-gap: 3rem;
}

.contact-information {
  display: flex;
  margin-bottom: 2rem;
}

.contact-icon {
  margin-right: 0.75rem;
  font-size: 2rem;
  color: var(--color-tint);
}

.contact-title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h3);
}

.contact-subtitle {
  font-size: var(--font-size-small);
  color: var(--color-text-lighten);
}

.contact-content {
  padding: 0.75rem 1rem 0.25rem;
  border-radius: 0.5rem;
  background: var(--color-input);
}

.contact-input {
  width: 100%;
  border: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
  outline: none;
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  background: var(--color-input);
  color: var(--color-text);
}

.contact-label {
  font-size: var(--font-size-small);
  color: var(--color-title);
}

/* Footer styles */
.footer {
  padding-top: 2rem;
}

.footer-container {
  row-gap: 3.5rem;
}

.footer-background {
  padding: 2rem 0 3rem;
  background: var(--color-tint-alt);
}

.footer-title {
  margin-bottom: 0.25rem;
  font-size: var(--font-size-h1);
}

.footer-subtitle {
  font-size: var(--font-size-small);
}

.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer-link:hover {
  color: var(--color-tint-lighten);
}

.footer-social {
  margin-right: 1.5rem;
  font-size: 1.25rem;
}

.footer-social:hover {
  color: var(--color-tint-lighten);
}

.footer-text {
  margin-top: 3rem;
  font-size: var(--font-size-tiny);
  text-align: center;
  color: var(--color-text-lighten);
}

.footer-title,
.footer-subtitle,
.footer-link,
.footer-social {
  color: #fff;
}

/* Scroll up button styles */
.scrollup {
  position: fixed;
  bottom: -20%;
  right: 1rem;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  background: var(--color-tint);
  opacity: 0.8;
  z-index: var(--layer-tooltip);
  transition: 0.3s;
}

.scrollup:hover {
  background: var(--color-hover);
}

.scrollup-icon {
  font-size: 1.5rem;
  color: #fff;
}

.show-scrollup {
  bottom: 5rem;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--color-scroll);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--color-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-lighten);
}

/* Small screen size styles */
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav-list {
    column-gap: 0;
  }

  .home-content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home-blob {
    width: 100px;
  }

  .career-data {
    gap: 0.5rem;
  }

  .skills-title {
    font-size: var(--medium-font-size);
  }
}

/* Medium screen size styles */
@media screen and (min-width: 568px) {
  .home-content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home-data {
    grid-column: initial;
  }

  .home-image {
    order: 1;
    justify-self: center;
  }

  .about-container,
  .skills-container,
  .projects-content,
  .contact-container,
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .career-content {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section-subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer-container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav-icon,
  .nav-close,
  .nav-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    column-gap: 2rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .nav-theme-changer {
    margin: 0;
  }

  .home-container {
    row-gap: 5rem;
  }

  .home-content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home-image {
    width: 270px;
    height: 270px;
  }

  .home-image img {
    width: 270px;
    height: 270px;
    transform: translateY(20px);
  }

  .home-scroll {
    display: block;
  }

  .scroll-button {
    margin-left: 3rem;
  }

  .about-container {
    column-gap: 5rem;
  }

  .about-image {
    width: 350px;
  }

  .about-description {
    text-align: initial;
  }

  .about-info {
    justify-content: space-between;
  }

  .about-buttons {
    justify-content: initial;
  }

  .projects-image {
    width: 320px;
  }

  .projects-content {
    align-items: center;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-background {
    padding: 3rem 0 3.5rem;
  }

  .footer-links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer-socials {
    justify-self: flex-end;
  }

  .footer-text {
    margin-top: 4.5rem;
  }

  .show-scrollup {
    bottom: 1rem;
  }
}

/* Large screen size styles */
@media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer-container {
    padding: 0;
  }

  .home-social {
    transform: translateX(-6rem);
  }

  .projects-content {
    column-gap: 5rem;
  }

  .projects-swiper-icon {
    font-size: 3.5rem;
  }

  .swiper-button-next {
    right: -3.5rem;
  }

  .swiper-button-prev {
    left: -3.5rem;
  }

  .swiper-container-horizontal>.swiper-pagination-bullet {
    bottom: -4.5rem;
  }

  .contact-form {
    width: 460px;
  }

  .content-inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
